@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    color: white;
}

body{
    background-color: #026C7C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1{
    font-family: 'Rubik Glitch', cursive;
    margin: 2rem;
    font-size: 3.5rem;
    font-weight: 500;
    color: #6A0136;
    text-shadow: 0 0 20px #eeee, 0 0 30px #eeee, 0 0 40px #eeee, 0 0 50px #eeee,
                    0 0 60px #eeee, 0 0 70px #eeee, 0 0 80px #eeee;
}

p{
    margin: 0 20px 20px;
    text-align: center;
}

.image-container{
    background-color: #055864;
    width: 80%;
    height: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed 5px #BFAB25;
}

.start-game-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
}

.start-game-btn-container{
    display: flex;
    justify-content: center;
}

.start-game-btn{
    background: #BFAB25;
	color: inherit;
	border: none;
	padding: 20px;
    border-radius: 20px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 10px;
    color: #6A0136;
    font-weight: 600;
}

.start-game-btn:hover{
    background: #B81365;
}

img{
    display: none;
    border: dotted 5px #BFAB25;
    height: 300px;
    width: auto;
}

.answers-container{
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}

.answer-btns{
    display: none;
    background: #6A0136;
	color: inherit;
	border: none;
	padding: 20px;
    border-radius: 20px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 10px;
    
}

.answer-btns:hover{
    background: #B81365;
}

.quit-btn{
    display: none;
    background: #BFAB25;
	color: inherit;
	border: none;
	padding: 20px;
    border-radius: 20px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 10px;
    color: #6A0136;
    font-weight: 600;
}

.quit-btn:hover{
    background: #B81365;
}