@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    color: white;
}

body{
    background-color: #026C7C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


h1{
    font-family: 'Rubik Glitch', cursive;
    margin: 2rem;
    font-size: 3.5rem;
    font-weight: 500;
    color: #6A0136;
    text-shadow: 0 0 20px #eeee, 0 0 30px #eeee, 0 0 40px #eeee, 0 0 50px #eeee,
                    0 0 60px #eeee, 0 0 70px #eeee, 0 0 80px #eeee;
}

p{
    margin: 0 20px 20px;
    text-align: center;
}

.image-container{
    background-color: #055864;
    min-width: 360px;
    max-width: 80%;
    min-height: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed 5px #BFAB25;
}


.start-game-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
}

.start-game-btn-container{
    display: flex;
    justify-content: center;
}

.start-game-btn{
    background: #BFAB25;
	color: inherit;
	border: none;
	padding: 20px;
    border-radius: 20px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 10px;
    color: #6A0136;
    font-weight: 600;
}


img{
    display: none;
    border: dashed 5px #BFAB25;
    height: 250px;
    width: auto;
    border-radius: 20px;
}

.answers-container{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

@media (hover: hover) {
    .start-game-btn:hover{
        background: #B81365;
    }

@media (hover: none) {
    .start-game-btn{
        background: #6A0136;
    }

@media screen and (max-width: 500px){
    .answers-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #answ1{
        grid-area: a;
    }
    #answ2{
        grid-area: b;
    }
    #answ3{
        grid-area: c;
    }
    #answ4{
        grid-area: d;
    }
}
@media screen and (min-width: 500px){
    .answers-container{
        display: grid;
        grid-template-areas: 
        "a b"
        "c d";
    }
    #answ1{
        grid-area: a;
    }
    #answ2{
        grid-area: b;
    }
    #answ3{
        grid-area: c;
    }
    #answ4{
        grid-area: d;
    }

}

}
@media screen and (min-width: 1000px){
    .answers-container{
        display: grid;
        grid-template-areas: 
        "a b c d";
    }
    #answ1{
        grid-area: a;
    }
    #answ2{
        grid-area: b;
    }
    #answ3{
        grid-area: c;
    }
    #answ4{
        grid-area: d;
    }
}



.answer-btns{
    display: none;
    background: #6A0136;
	color: inherit;
	border: none;
	padding: 20px;
    border-radius: 20px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 10px;
    
}

.answer-btns:hover{
    background: #B81365;
}

.answer-btns span.right{
    padding: 0.5rem;
    background: #05a017;
}

.answer-btns span.wrong{
    padding: 0.5rem;
    display: inline;
    background: #9f0505;
}

.answers-container p{
    margin: 1rem;
    font-size: 1rem;
}

.answers-container p span{
    font-size: 1.5rem;
}

.quit-btn{
    display: none;
    background: #BFAB25;
	color: inherit;
	border: none;
	padding: 20px;
    border-radius: 20px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 10px;
    color: #6A0136;
    font-weight: 600;
}

.quit-btn:hover{
    background: #8f801b;
}